body {
    background-color: #eeeeee;
    margin: 0;
    font-family: 'Andika New Basic', sans-serif;
}


.middle {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    /*
    box-shadow: rgba(50, 50, 71, 1) 1px 4px 4px;
    */
    filter: drop-shadow(5px 4px 4px rgba(50, 50, 50, 0.4));
}

.link {
    margin: 1.5em auto;
    display: block;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 13pt;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    color: #313639;
    background-color: #EFC10A;
    text-decoration: none;
    text-align: center;
}

.link:visited {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: #f6ca1d;
}

.branding {
    align-content: center;
}
.logo {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 3em;
}

@media (min-width: 300px) {
    .middle {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (min-width: 450px) {
    .middle {
        min-width: 300px;
        max-width: 400px;
    }
}